src/test/resources/datasets/test.dtd

<!ELEMENT dataset (
    REQUIREMET*,
    WINAPI_FUNCTION*,
    WINAPI_PARAMETER*,
    WINAPI_USER_ELEMENT*)>

<!ELEMENT REQUIREMET EMPTY>
<!ATTLIST REQUIREMET
    id CDATA #REQUIRED
    category CDATA #REQUIRED
    category_value CDATA #REQUIRED
    function_id CDATA #REQUIRED
>

<!ELEMENT WINAPI_FUNCTION EMPTY>
<!ATTLIST WINAPI_FUNCTION
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    DESCRIPTION CDATA #REQUIRED
    CLASS_ID CDATA #IMPLIED
    syntax CDATA #REQUIRED
    return_type CDATA #REQUIRED
    return_type_description CDATA #REQUIRED
>

<!ELEMENT WINAPI_PARAMETER EMPTY>
<!ATTLIST WINAPI_PARAMETER
    ID CDATA #REQUIRED
    FUNCTION_ID CDATA #IMPLIED
    first_definition CDATA #REQUIRED
    type_definition CDATA #REQUIRED
    description CDATA #REQUIRED
>

<!ELEMENT WINAPI_USER_ELEMENT EMPTY>
<!ATTLIST WINAPI_USER_ELEMENT
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    DESCRIPTION CDATA #REQUIRED
>

